ansible/untracked-files
ansible/unused-playbooks
ansible/files/control.pub
ansible/files/encoded_config.b64
ansible/files/json-files
vagrant/.vagrant
ansible/files/config.json
diagrams
ansible/control_vm_files
ansible/files/unused_files
ansible/k8s_files/otel-collector-ingress.yaml
ansible/host_vars
ansible/k8s_files/dockerhub-secret.yaml
ansible/k8s_files/grafana-secret.yaml
ansible/k8s_files/minio-secret.yaml
ansible/k8s_files/mysql-secret.yaml
ansible/k8s_files/mysql-secret.yaml
ansible/k8s_files/spring-ingress-tls.yaml
ansible/k8s_files/spring-secret.yaml
vagrant/control.pub