apiVersion: v1
kind: Secret
metadata:
  name: grafana-secret
  namespace: default
type: Opaque
data:
  EMAIL_ADDRESS: "{{ grafana_email_address | b64encode }}"
  EMAIL_PASSWORD: "{{ grafana_email_password | b64encode }}"
  ADMIN_USER: "{{ grafana_admin_user | b64encode }}"
  ADMIN_PASSWORD: "{{ grafana_admin_password | b64encode }}"