apiVersion: v1
kind: Secret
metadata:
  name: mysql-secret
  namespace: default
type: Opaque
data:
  MYSQL_PASSWORD: "{{ mysql_password | b64encode }}"
  MYSQL_ROOT_PASSWORD: "{{ mysql_root_password | b64encode }}"
