apiVersion: v1
kind: Secret
metadata:
  name: spring-secret
  namespace: default
type: Opaque
data:
  SPRING_MAIL_PASSWORD: "{{ spring_mail_password | b64encode }}"
  SPRING_DATASOURCE_PASSWORD: "{{ spring_datasource_password | b64encode }}"
  SPRING_EMAIL: "{{ spring_email | b64encode }}"
